@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/bg-illustration.svg");
  background-repeat: no-repeat;
  background-position: 90%;
  background-color: #111729;
  font-family: "Outfit", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.alert-box {
  display: inline-block;
  position: absolute;
  z-index: 20;
  top: 20px;
  padding: 15px 10px;
  text-align: center;
  background: #030617;
  border-radius: 20px;
  border: 2px solid #e33636;
  color: #e33636;
  max-width: 450px;
  width: 100%;
  transform: translateY(-100px);
  opacity: 0;
  transition: 0.4s all ease-in-out;
}

.url {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.url .logo {
  width: 250px;
  margin-bottom: 40px;
}

.url-form {
  border: 2px solid #3662e3;
  border-radius: 20px;
  padding: 6px;
  background: #030617;
  max-width: 650px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#url-input {
  padding: 0px 20px;
  outline: none;
  font-size: 16px;
  border-radius: 12px;
  background-color: transparent;
  border: none;
  font-family: "Outfit", sans-serif;
  color: #364153;
  width: 75%;
}

#url-input::placeholder {
  color: #364153;
  font-size: 16px;
}

.url-submitbtn {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  border: none;
  background: #3662e3;
  color: #fff;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  padding: 15px 40px;
  border-radius: 12px;
}

.qr-header {
  display: none;
  max-width: 1280px;
  padding: 30px 20px;
  margin: 0 auto;
  width: 100%;
}

#qr-code__container {
  display: none;
  width: 100%;
  height: 100%;
  place-content: center;
}

.qr-code__content-bg {
  background: #4e80ee33;
  width: 110%;
  height: 100%;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-bottom: 64px;
  position: relative;
  left: -12px;
}

.qr-code {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
}

.qr-code__btns {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.qr-code__btns .btn {
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  padding: 16px 48px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 16px;
  background-color: #3662e3;
}
.qr-code__btns .btn:hover {
  background-color: #2f51c3;
}

@media (max-width: 425px) {
  .url {
    padding: 20px;
  }
  .url-submitbtn {
    padding-inline: 20px;
  }

  .qr-code__btns {
    margin-top: 40px;
    gap: 12px;
  }

  .qr-code__btns .btn {
    padding-inline: 32px;
  }
  #qr-code__container {
    padding: 20px;
  }

  .qr-code img {
    width: 200px;
    height: 200px;
  }
}
